<!DOCTYPE html>
<html>
<head>
	<title>Date and Time Picker</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">

	<link rel="stylesheet" type="text/css" href="datepicker.css
	">

	<script type="text/javascript" src="jquery-3.1.0.min.js" ></script>

	<script type="text/javascript" src="bootstrap-datepicker.js"></script>

	<!--time picker-->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">


	<script>
		$(function(){
			$('.datepicker').datepicker();

		});
	</script>
	<script>
	$('.timepicker').wickedpicker();

		
	</script>


	
</head>
<body>



<div class="container-fluid well">
	


<div class="row form-group">
    <div class="col-md-6 text-center pagination-centered  " >
      From:<input type="text" name="date" class="datepicker">
	    </div>
    <div class="col-md-6 text-center pagination-centered" >
      To:<input type="text" name="date" class="datepicker">
		
   </div>
  </div>

</div>


<script type="text/javascript" src="jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="wickedpicker.js"></script>
</body>
</html>